<% include ../partials/header %>

<h1>Weather App</h1>

<div class='container text-center'>
<div class='well'>
  <ul>
    <li>Jacksonville, US</li>
    <div class='celcel'>
      <li class='celShow'>31.29</li> <a href="#" class='link1'>&#8451;</a>
    </div>
    <div class='fahfah'>
      <li class='fahren'>88</li> <a href="#" class='link2'>&#8457;</a>
    </div>
    <li>5.7 m/s</li>
    <li>Broken clouds</li>
    <img src="https://cdn.glitch.com/6e8889e5-7a72-48f0-a061-863548450de5%2F04d.png?1499366020964">
    <p>Coded By <a href="https://codepen.io/boydjenkins18/" class='code'>Boyd Jenkins</a></p>
  </ul>
</div>
</div>


<% include ../partials/footer %>
